<div ng-controller="ConfirmedController" class="container-fluid">
  <div class="row">


    <div class="col-md-offset-2 col-md-8">
      
      <h2>Step 5 – Lunch Confirmed:</h2>

      <hr>

      <ul class="bg-info results">
        <li>Name: {{ data.event.fullName }}</li>
        <li>Address: {{ data.event.address }}</li>
        <li>Time: {{ data.event.time }}</li>
        <li>Options: {{ data.restaurants[0].name }}</li>
      </ul>





    </div> <!-- .col-md-6 -->

  </div> <!-- .row -->
</div> <!-- .container-fluid -->