<div ng-controller="RestaurantsController" class="container-fluid">
  <div class="row">


    <div class="col-md-offset-2 col-md-8">

      <h2>Select 3 Options:</h2>

      <hr>

      <table class="table table-striped table-bordered"> 
        <thead> 
          <tr> 
            <th>Select</th> 
            <th>Image</th>
            <th>Name</th>
            <th>Rating</th>
            <th>Category</th>
          </tr> 
        </thead> 
        <tbody> 
          <tr ng-repeat="restaurant in data.restaurants">
            <td><input type="checkbox" ng-model='restaurant.custChoice'></td>
            <td><img ng-src={{restaurant.image_url}}></img></td>
            <td>{{restaurant.name}}</td>
            <td>{{restaurant.rating}}</td>
            <td>{{restaurant.categories[0][0]}}</td> 
          </tr> 
        </tbody> 
      </table>


      <button class="btn btn-primary" ng-click="submitRestaurants()">Submit My Choices</button>

    </div> <!-- .col-md-6 -->

  </div> <!-- .row -->
</div> <!-- .container-fluid -->