<div ng-controller="SplashController" class="container-fluid">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="jumbotron">
        <h1>Where are we Eating?</h1><br>
        <p>Meeting a group of friends for lunch? Deciding where you are going to eat and what kind of
        food you are going to have can be a challenge!<br><br>

        Let us decide for you:
        	<ol>
        		<li>Provide a location and time. Add the phone numbers of the friends that will be attending.</li>
        		<li>We will provide a list of restaurants close to your specified location you can choose from based on Yelp reviews. Your friends will vote from these selections.</li>
        		<li>With the click of a button, your friends will receive a text and can vote!</li>
        		<li>We will calculate the results and text your friends with the outcome.</li>
        		<li>Now let's do lunch!</li>
        	</ol>
        </p>
        <p>
            <img src="http://www.restaurantbusinessonline.com/sites/default/files/styles/full_width/public/adviceguy/coffee-shop-friends-lunch.jpg?itok=T79z_i8I">
        	<button type="button" class="btn btn-primary btn-large" ng-click="submitSplash()">START</button>
        </p>
      </div>

        
      




    </div> <!-- .col-md-6 -->

  </div> <!-- .row -->
</div> <!-- .container-fluid -->
