
.header h1 {
  background-color: deepskyblue;
  margin: 0 0 20px;
  padding: 20px;
}

.header h1 a {
  color: black;
}

.header h1 a:hover {
  color: #333;
  cursor: pointer;
}

img {
  margin-right: 50px;
}

.results {
  padding: 10px 0;
  background-color: #efefef;
  border: 1px solid #ddd;
}
.map {
  padding: 10px;
  background-color: white;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

